<h3>Room Details</h3>
<form #roomForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <p>
        <label for="building">Building:</label>
        <input #building="ngModel" [(ngModel)]="room.building" id="building" name="building"
               required>
        <span *ngIf="building.dirty && building.invalid">Value is required</span>
    </p>
    <p>
        <label for="roomNumber">Room Number:</label>
        <input #roomNumber="ngModel" [(ngModel)]="room.roomNumber" appMin="1" id="roomNumber" name="roomNumber"
               required type="number">
        <span *ngIf="roomNumber.dirty && roomNumber.hasError('required')">Value is required</span>
        <span *ngIf="roomNumber.dirty && roomNumber.hasError('min')">Min value of 1 required</span>
    </p>
    <p>
        <label for="seats">Seats:</label>
        <input #seats="ngModel" [(ngModel)]="room.seats" id="seats" name="seats" required
               type="number">
        <span *ngIf="seats.dirty && seats.invalid">Value is required</span>
    </p>
    <p>
        <label for="projectorPresent">Projector present?</label>
        <input [(ngModel)]="room.projectorPresent" id="projectorPresent" name="projectorPresent" type="checkbox">
    </p>
    <input (click)="onCancel()" type="button" value="Cancel">
    <input [disabled]="roomForm.invalid" type="submit" value="Save">
</form>
