<div>
    <h1>Registrierung</h1>
    <form>
       <table>
           <tr>
               <td>Benutzername</td>
               <td><input type="text" name="userID"></td>
           </tr>
           <tr>
               <td>Vorname</td>
               <td><input type="text" name="firstName"></td>


       </tr>
           <tr>
               <td>Nachname</td>
               <td><input type="text" name="surName"></td>
           </tr>
           <tr>
               <td>e-Mail-Adresse</td>
               <td><input type="text" name="eMailAdress"></td>

           </tr>
           <tr>
               <td>Passwort</td>
               <td><input type="text" name="password"></td>

           </tr>
           <tr>
               <td></td>
               <td><button>Registrieren</button></td>
           </tr>
       </table>


    </form>
</div>
