<div>
    <h2>Wertpapier verkaufen</h2>
    <form>
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="stockName"></td>
            </tr>
            <tr>
                <td>Stückzahl</td>
                <td><input type="number" name="quantity"></td>


            </tr>
            <tr>
                <td>WKN</td>
                <td><input type="number" name="stockID"></td>
            </tr>
            <tr>
                <td>Art des Wertpapiers</td>
                <td><input type="text" name="typeOfStock"></td>

            </tr>
            <tr>
                <td></td>
                <td><button>Verkaufen</button></td>
            </tr>
        </table>


    </form>
</div>
