<div>
    <h2>Elmshorner Trading Analysts</h2>
    <h3>Startseite</h3>
    <form>
        <table>
            <tr>
                <td><button>Registrieren</button></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td>Bereits registriert?</td>
                <td></td>
            </tr>

            <tr></tr>
            <tr></tr>
            <tr></tr>


            <tr>   <td><button>Log-In</button></td>
            </tr>
        </table>


    </form>
</div>
