<table>
    <tr>
        <th>Building</th>
        <th>Room Number</th>
        <th>Seats</th>
        <th>Projector present?</th>
    </tr>
    <tr (click)="onSelect(room)" *ngFor="let room of rooms" [class.selected]="room === selectedRoom">
        <td>{{room.building}}</td>
        <td>{{room.roomNumber}}</td>
        <td>{{room.seats}}</td>
        <td>{{room.projectorPresent}}</td>
    </tr>
</table>

<button (click)="onDelete()" [disabled]="!selectedRoom">Delete</button>
<button (click)="onEdit()" [disabled]="!selectedRoom">Edit</button>
<button (click)="onAdd()">Add</button>
